<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	
				<li><a href="www.google.co.in/search?q=fifa&rlz=1C1CHBF_enIN800IN800&oq=fifa&aqs=chrome#sie=lg;/m/06qjc4;2;/m/030q7;mt;fp;1">Table</li>
	        		
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:themayankgoel28@gmail.com">email</a></li>
	        		<li><a href="https://github.com/fantasyfifa">github.com/fantasyfifa</a></li>
				</ul>
			</footer>
		</body>
	</html>
